<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Document</title>

    <style>
        body{
            background-color: black;
        }

        #logo{
            border-radius: 50%;
            width: 50px;
            height: 30px;
            
        }
        table{
            margin-top: 100px;
        }
        td{
            text-align: center;
        }
        .img{
            width: 40px;
            height: 35px;
        }
        label{
            color: white;
        }

    </style>
</head>
<body>
    
    <div class="container-fluid" >
        <div class="row">
            <div class="d-flex flex-column justify-content-between min-vh-100 col-2" style="background-color: #181919;">
                <div class="mt-4">
                    <div class="d-flex" style="margin-right:-10px;">
                        <a  class="text-white text-decoration-none d-flex align-items-center  ms-4" role="button">
                            <img src="{% static 'images/log1.png' %}" alt="" id="logo" class="d-inline-block align-text-top ms-auto ">
                            <span class="fs-5 d-none d-sm-inline" style="color: white;padding: 20px;" >  Caffeine <br> Coffee House </span>                            
                        </a>
                    </div>

                    <hr class="text-white" /> 
                    <ul class="nav nav-tabs flex-column mt-2 mt-sm-0" id="menu"> 
                         <li class="nav-item"> 
                            <a href="{% url 'manager' %}" class="nav-link text-white" aria-current="page"> 
                                <i class="fa-solid fa-house"></i>
                                <span class="ms-2 d-none d-sm-inline"> Home</span>
                            </a>
                            <hr >
                         </li>
                         <li class="nav-item"> 
                            <a href="{% url 'category_list' %}" class="nav-link text-white" aria-current="page">
                                <i class="fa-solid fa-grip"></i>                                
                                <span class="ms-2 d-none d-sm-inline"> catergories </span>
                            </a>
                         </li>
                         <li class="nav-item"> 
                            <a href="{% url 'prodlist' %}" class="nav-link text-white" aria-current="page">
                                <i class="fas fa-boxes"></i>
                                <span class="ms-2 d-none d-sm-inline"> Product </span>
                            </a>
                         </li>
                         <li class="nav-item"> 
                            <a href="{% url 'user' %}" class="nav-link text-white" aria-current="page">
                                <i class="fa-solid fa-users"></i>                                
                                <span class="ms-2 d-none d-sm-inline"> User </span>
                            </a>
                         </li>
                         <li class="nav-item"> 
                            <a href="{% url 'ordersum' %}" class="nav-link text-white" aria-current="page">
                                <i class="fas fa-clipboard-check"></i>                                
                                <span class="ms-3 d-none d-sm-inline"> Total Orders </span>
                            </a>
                         </li>
                         <li class="nav-item"> 
                            <a href="{% url 'menuview' %}" class="nav-link text-white" aria-current="page">
                                <i class="fa-solid fa-truck"></i> 
                                <span class="ms-2 d-none d-sm-inline"> Menu </span>
                            </a>
                         </li>
                         
                         <li class="nav-item"> 
                            <a href="{% url 'comment' %}" class="nav-link text-white" aria-current="page">
                                <i class="fa-solid fa-message"></i>
                                <span class="ms-2 d-none d-sm-inline"> Feedback </span>
                            </a>
                         </li>
 
                        
                    </ul>
                </div>
            </div>

      
           
            <div class="col">
                <div class="container-fluid d-flex justify-content-end mt-4 fs-5 text-white" >                   

                    <li class="nav-item dropdown" style="list-style: none;">
                        <a href="/" class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true"> 
                        {% if manager.mag_img %}
                            <img src="{{ manager.mag_img.url }}" alt="User Image"  style="width: 50px;height: 50px;border-radius: 50%;">
                        {% else %}
                            <p>No image uploaded.</p>
                        {% endif %}                        </a>
                    
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute; right: 0;left: auto;">

                            <li>
                                {% if manager.mag_img %}
                                    <img src="{{ manager.mag_img.url }}" alt="User Image"  style="width: 75px;height: 75px;border-radius: 50%; margin-left: 40px;">
                                {% else %}
                                    <p>No image uploaded.</p>
                                {% endif %}
                                    <h6 style="text-align: center;color: black;"> {{ manager.name }}</h6>
                                <li>

                            <hr class="dropdown-divider">
                            <table style="margin: 0;padding: 0;">
                                <tr> 
                                    <td> <li><a href="{% url 'manager' %}" class="dropdown-item"><i class="fa-regular fa-id-badge"></i></a></li> </td>
                                    <td> <a href="{% url 'manager' %}" class="text-decoration-none text-dark"> Dashboard </a> </td>
                                </tr>
                                <tr> 
                                    <td> <li><a href="{% url 'manprofile' %}" class="dropdown-item"><i class="fa-solid fa-cart-shopping"></i></a></li> </td>
                                    <td> <a href="{% url 'manprofile' %}" class="text-decoration-none text-dark"> Profile </a> </td>
                                </tr>
                                
                                <tr> 
                                    <td> <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fa-solid fa-right-from-bracket"></i></a></li> </td>
                                    <td> <a href="{% url 'logout' %}" class="text-decoration-none text-dark"> Logout </a> </td>
                                </tr>
                            </table>
                        </ul>
                    </li>

                </div>
               
                <h1 style="color: white;margin-top: 30px; text-align: center;"> No Of Orders </h1>

                <div class="row">
                    <div class="col-11">
                      <table class="table table-dark table-hover" style="margin-left: 40px;;">
                        <thead>
                            <td> No </td>
                            <td> Username </td>
                            <td> Phone No </td>
                            <td> Email </td>
                            <td> Address </td>
                            <td> Category </td>
                            <td> Item </td>
                            <td> Quantity </td>
                            <td> City </td>
                            <td> Total </td>
                            <td> Payment Method </td>
                            <td> Action </td>
                        </thead>

                        {% for i in orders %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.user}}</td>
                                <td>{{i.phone_no}}</td>
                                <td>{{i.user_email}}</td>
                                <td>{{i.address}}</td>
                                <td>{{i.category}}</td>
                                <td>{{i.product}}</td>
                                <td>{{i.quantity}}</td>
                                <td>{{i.city}}</td>
                                <td>{{i.total}}</td>
                                <td>{{i.payment}}</td>
                                <td><a href="{% url 'delete' i.id %}" class="btn btn-danger"> Delete </a></td>
                            </tr>
                        {% endfor %}    
                      </table>
                    </div>
                </div>        
                    
            </div>

        </div>
    </div>
</body>
</html>




<!-- <table class=" table table-dark table striped">
    <thead>
        <td> No </td>
        <td> Username </td>
        <td> Phone No </td>
        <td> Email </td>
        <td> Address </td>
        <td> Category </td>
        <td> Item </td>
        <td> Quantity </td>
        <td> Size </td>
        <td> City </td>
        <td> State </td>
        <td> Country </td>
        <td> Pincode </td>
        <td> Total </td>
        <td> Payment Method </td>
    </thead>

    {% for i in orders %}
  
       <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.uname}}</td>
            <td>{{i.phone_no}}</td>
            <td>{{i.uemail}}</td>
            <td>{{i.address}}</td>
            <td>{{i.category}}</td>
            <td>{{i.menu}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.size}}</td>
            <td>{{i.city}}</td>
            <td>{{i.state}}</td>
            <td>{{i.country}}</td>
            <td>{{i.pincode}}</td>
            <td>{{i.total}}</td>
            <td>{{i.payment}}</td>
           
        </tr>
            
    {% endfor %} 

    
</table> -->